In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("data.csv")

In [9]:
df.describe()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
count,102.000000,102.000000,102.000000,102.000000,102.000000,102.00000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000
mean,1951.500000,22.860873,25.247294,28.431755,31.416333,33.46498,30.851578,27.811588,27.272275,27.357951,26.579382,23.847775,22.034971
std,29.588849,0.983112,0.913545,0.929693,0.887118,1.12455,1.179059,0.686891,0.549314,0.568013,0.589523,1.045997,1.031999
min,1901.000000,20.505000,23.269000,25.996000,29.329000,30.01500,27.930000,26.306000,25.706000,26.388000,25.282000,21.495000,20.126000
25%,1926.250000,22.190250,24.617000,27.758000,30.875750,32.74150,30.034000,27.275000,26.955000,26.908500,26.233500,23.057000,21.122000
50%,1951.500000,22.893500,25.188500,28.383500,31.538000,33.56300,30.782000,27.723000,27.280000,27.294000,26.545500,23.812500,22.024000
75%,1976.750000,23.477750,25.896000,29.212750,31.959000,34.30000,31.624750,28.252250,27.666000,27.797250,26.959000,24.601750,22.814000
max,2002.000000,25.079000,27.282000,30.214000,33.719000,35.86900,33.462000,29.407000,28.670000,29.192000,28.052000,26.546000,25.023000

In [10]:
df.dtypes

Year      int64
Jan     float64
Feb     float64
Mar     float64
Apr     float64
May     float64
Jun     float64
Jul     float64
Aug     float64
Sep     float64
Oct     float64
Nov     float64
Dec     float64
dtype: object

In [11]:
df.corr()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Year,1.000000,0.262008,0.560594,0.568160,0.427131,0.272463,0.131531,0.369898,0.311082,0.521795,0.402764,0.444744,0.397697
Jan,0.262008,1.000000,0.469459,0.428346,0.338052,0.328517,-0.057352,0.202098,0.100687,0.244737,0.093067,0.082004,0.141856
Feb,0.560594,0.469459,1.000000,0.620403,0.508059,0.303459,0.109507,0.282019,0.120689,0.321044,0.196087,0.224516,0.222828
Mar,0.568160,0.428346,0.620403,1.000000,0.593818,0.374894,0.140170,0.370417,0.218851,0.338255,0.208123,0.193348,0.190259
Apr,0.427131,0.338052,0.508059,0.593818,1.000000,0.310771,0.092019,0.303694,0.228286,0.267443,0.102548,0.012647,0.036043
May,0.272463,0.328517,0.303459,0.374894,0.310771,1.000000,0.285279,0.147095,0.141154,0.068633,0.077928,-0.155618,0.066466
Jun,0.131531,-0.057352,0.109507,0.140170,0.092019,0.285279,1.000000,0.264500,0.330778,0.103434,0.102273,0.070023,0.122240
Jul,0.369898,0.202098,0.282019,0.370417,0.303694,0.147095,0.264500,1.000000,0.453219,0.514555,0.393051,0.301077,0.187450
Aug,0.311082,0.100687,0.120689,0.218851,0.228286,0.141154,0.330778,0.453219,1.000000,0.283071,0.118875,0.083639,0.246133
Sep,0.521795,0.244737,0.321044,0.338255,0.267443,0.068633,0.103434,0.514555,0.283071,1.000000,0.539946,0.488726,0.501121
Oct,0.402764,0.093067,0.196087,0.208123,0.102548,0.077928,0.102273,0.393051,0.118875,0.539946,1.000000,0.620154,0.356971
Nov,0.444744,0.082004,0.224516,0.193348,0.012647,-0.155618,0.070023,0.301077,0.083639,0.488726,0.620154,1.000000,0.508335
Dec,0.397697,0.141856,0.222828,0.190259,0.036043,0.066466,0.122240,0.187450,0.246133,0.501121,0.356971,0.508335,1.000000

In [12]:
from sklearn.linear_model import LinearRegression

In [24]:
df.isnull().sum()
data_r = df.fillna(method='ffill')
data_r
k = list(data_r.columns)
X = data_r[k]

In [25]:
test_Y

NameError: name 'test_Y' is not defined

In [ ]:
X = df['Year']
Y = df['July']
pd.Dataframe(Y,Z,k).mean()
train_X = X[:102].reshape(-1,1)
train_Y = Y[:102].reshape(-1,1)
test_X = X[-14:].reshape(-1,1)
test_Y = Y[-14:].reshape(-1,1)

In [ ]:
reg = LinearRegression()

In [ ]:
df = pd.read_csv('data-cp.csv')
autm = df[df.Season== 'Kharif']
py = pd.DataFrame(autm.Crop_Year)
reg.fit(train_X,train_Y)
import numpy as np
test_Y_pred = reg.predict(test_X)
train_Y_pred = reg.predict(train_X)
score_X=reg.score(train_X,train_Y)
new_pred = np.array([[2018],[2019],[2020],[2021],[2022],[2023],[2024],[2024],[2024],[2025],[2026],[2027],[2028],[2029],[2030]])
train_Y_pred = reg.predict(py)
print(py)
print(train_Y_pred)
print(score_X)

In [ ]:
train_Y_pred = pd.DataFrame(train_Y_pred)
print(type(train_Y_pred))
frames = autm,train_Y_pred
new_df = pd.concat(frames)
rabi_temp = new_df.to_csv('kharif-temp.csv')

In [ ]:
print(test_X)

In [ ]:
print(test_Y_pred)

In [ ]:
print(score_X)