In [20]:
import pandas as pd

In [22]:
df = pd.read_csv("data.csv")
dfc = pd.read_csv("comparetemp.csv")
dftr = pd.read_csv("temprang.csv")

In [23]:
dftr.describe()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
count,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000
mean,1951.500000,12.626667,13.364755,14.101392,13.571402,12.857971,10.600696,8.199412,7.597304,8.369167,9.913745,11.280863,12.451059
std,29.588849,0.113927,0.060281,0.148775,0.057857,0.060461,0.034078,0.143671,0.071552,0.075470,0.090826,0.150646,0.140272
min,1901.000000,11.946000,13.046000,13.637000,13.227000,12.596000,10.442000,7.898000,7.285000,8.009000,9.622000,10.724000,11.487000
25%,1926.250000,12.621000,13.363000,14.109000,13.576000,12.858000,10.602000,8.198000,7.605000,8.374000,9.922000,11.269000,12.450000
50%,1951.500000,12.621000,13.363000,14.109000,13.576000,12.858000,10.602000,8.198000,7.605000,8.374000,9.922000,11.269000,12.450000
75%,1976.750000,12.621000,13.363000,14.109000,13.576000,12.858000,10.602000,8.198000,7.605000,8.374000,9.922000,11.269000,12.450000
max,2002.000000,13.276000,13.770000,14.932000,13.915000,13.057000,10.742000,9.096000,7.958000,8.897000,10.601000,12.333000,13.052000

In [11]:
df.dtypes

Year      int64
Jan     float64
Feb     float64
Mar     float64
Apr     float64
May     float64
Jun     float64
Jul     float64
Aug     float64
Sep     float64
Oct     float64
Nov     float64
Dec     float64
dtype: object

In [12]:
df.corr()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Year,1.000000,0.262008,0.560594,0.568160,0.427131,0.272463,0.131531,0.369898,0.311082,0.521795,0.402764,0.444744,0.397697
Jan,0.262008,1.000000,0.469459,0.428346,0.338052,0.328517,-0.057352,0.202098,0.100687,0.244737,0.093067,0.082004,0.141856
Feb,0.560594,0.469459,1.000000,0.620403,0.508059,0.303459,0.109507,0.282019,0.120689,0.321044,0.196087,0.224516,0.222828
Mar,0.568160,0.428346,0.620403,1.000000,0.593818,0.374894,0.140170,0.370417,0.218851,0.338255,0.208123,0.193348,0.190259
Apr,0.427131,0.338052,0.508059,0.593818,1.000000,0.310771,0.092019,0.303694,0.228286,0.267443,0.102548,0.012647,0.036043
May,0.272463,0.328517,0.303459,0.374894,0.310771,1.000000,0.285279,0.147095,0.141154,0.068633,0.077928,-0.155618,0.066466
Jun,0.131531,-0.057352,0.109507,0.140170,0.092019,0.285279,1.000000,0.264500,0.330778,0.103434,0.102273,0.070023,0.122240
Jul,0.369898,0.202098,0.282019,0.370417,0.303694,0.147095,0.264500,1.000000,0.453219,0.514555,0.393051,0.301077,0.187450
Aug,0.311082,0.100687,0.120689,0.218851,0.228286,0.141154,0.330778,0.453219,1.000000,0.283071,0.118875,0.083639,0.246133
Sep,0.521795,0.244737,0.321044,0.338255,0.267443,0.068633,0.103434,0.514555,0.283071,1.000000,0.539946,0.488726,0.501121
Oct,0.402764,0.093067,0.196087,0.208123,0.102548,0.077928,0.102273,0.393051,0.118875,0.539946,1.000000,0.620154,0.356971
Nov,0.444744,0.082004,0.224516,0.193348,0.012647,-0.155618,0.070023,0.301077,0.083639,0.488726,0.620154,1.000000,0.508335
Dec,0.397697,0.141856,0.222828,0.190259,0.036043,0.066466,0.122240,0.187450,0.246133,0.501121,0.356971,0.508335,1.000000

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
df.isnull().sum()
data_r = df.fillna(method='ffill')
data_r
k = list(data_r.columns)
X = data_r[k]

In [25]:
X = df['Year']
Y = df['Mar']

K = dftr['Year']
N = dftr['Mar']
# pd.Dataframe(Y,Z,k).mean()
train_X = X[:102].reshape(-1,1)
train_Y = Y[:102].reshape(-1,1)
test_X = X[-14:].reshape(-1,1)
test_Y = Y[-14:].reshape(-1,1)

train_K = K[:102].reshape(-1,1)
train_N = N[:102].reshape(-1,1)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:7: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  import sys
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:8: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  if __name__ == '__main__':
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:10: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  # Remove the CWD from sys.path while we load stuff.
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:12: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  if sys.path[0] == '':
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:13: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  del sys.path[0]

In [26]:
reg = LinearRegression()

In [30]:
df = pd.read_csv('data-cp.csv')
autm = df[df.Season== 'Kharif']
py = pd.DataFrame(autm.Crop_Year)
reg.fit(train_X,train_Y)
test_Y_pred = reg.predict(test_X)
train_Y_pred = reg.predict(train_X)
score_X=reg.score(train_X,train_Y)
new_pred = np.array([[2018],[2019],[2020],[2021],[2022],[2023],[2024],[2024],[2024],[2025],[2026],[2027],[2028],[2029],[2030]])
train_Y_pred = reg.predict(py)
single_x = np.array([2019])
single_y = reg.predict(single_x)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

In [116]:
train_Y_pred = pd.DataFrame(train_Y_pred)
print(type(train_Y_pred))
frames = autm,train_Y_pred
new_df = pd.concat(frames)
rabi_temp = new_df.to_csv('kharif-temp.csv')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/indexes/api.py:71: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  result = result.union(other)

<class 'pandas.core.frame.DataFrame'>

In [117]:
print(test_X)

[[1989]
 [1990]
 [1991]
 [1992]
 [1993]
 [1994]
 [1995]
 [1996]
 [1997]
 [1998]
 [1999]
 [2000]
 [2001]
 [2002]]

In [118]:
print(test_Y_pred)

[[29.10119789]
 [29.11904971]
 [29.13690152]
 [29.15475333]
 [29.17260515]
 [29.19045696]
 [29.20830877]
 [29.22616059]
 [29.2440124 ]
 [29.26186421]
 [29.27971602]
 [29.29756784]
 [29.31541965]
 [29.33327146]]

In [119]:
print(single_y)

[[29.63675229]]

In [120]:
int(single_y)

29

In [121]:
dfc

             crop  temperature     rainfall
0            rice         21.0  100- 150 cm
1        chillies         20.0    40-100cm
2         peanuts         25.0     50-75 cm
3          bajra          30.0     25-60 cm
4          banana         30.0        65-75
5           beans         21.0        35-50
6   lladys finger         28.5       50-100
7    bottle guard         25.5          any
8        brinnjal         26.0       60-100
9         cabbage         17.5       59-113
10    castor seed         18.0        50-60
11   citrus fruit         32.5      125-185
12      corriader         20.0          NaN
13         cotton         22.5    60-110 cm
14         cowpea         30.5           78
15         ginger         23.5      125-250
16     horse gram         27.0        50-70
17          jowar         28.5        40-50
18        millets         27.5     25-75 cm
19          maize         21.0    65-125 cm
20         massor         20.0        30-50
21          moong         22.0       85-100
22          onion         15.0       75-100
23      turmeric          25.0   150-250 cm
24          urad          30.0        60-75
25          wheat         19.0     25-75 cm
26         pulses         22.5     40-45 cm

In [122]:
vihar = []
dict_n = {}
list2 = []
for i,j in zip(dfc['crop'],dfc['temperature']):
    list2.append(i)
    list2.append(j)
print(list2)

compare_dic = dict(zip(dfc['crop'],dfc['temperature']))

print(compare_dic)


for i in  dfc['temperature']:
    diff = int(single_y) - i
    vihar.append(int(diff))

print(vihar)
type(vihar)
vihar.sort()
print(vihar)

for i in vihar:
    if i<0:
        vihar.remove(i)
print(vihar)
print(vihar[0:3])

['rice', 21.0, 'chillies', 20.0, 'peanuts', 25.0, 'bajra ', 30.0, 'banana', 30.0, 'beans', 21.0, 'lladys finger', 28.5, 'bottle guard', 25.5, 'brinnjal', 26.0, 'cabbage', 17.5, 'castor seed', 18.0, 'citrus fruit', 32.5, 'corriader', 20.0, 'cotton', 22.5, 'cowpea', 30.5, 'ginger', 23.5, 'horse gram', 27.0, 'jowar', 28.5, 'millets', 27.5, 'maize', 21.0, 'massor', 20.0, 'moong', 22.0, 'onion', 15.0, 'turmeric ', 25.0, 'urad ', 30.0, 'wheat', 19.0, 'pulses', 22.5]
{'rice': 21.0, 'chillies': 20.0, 'peanuts': 25.0, 'bajra ': 30.0, 'banana': 30.0, 'beans': 21.0, 'lladys finger': 28.5, 'bottle guard': 25.5, 'brinnjal': 26.0, 'cabbage': 17.5, 'castor seed': 18.0, 'citrus fruit': 32.5, 'corriader': 20.0, 'cotton': 22.5, 'cowpea': 30.5, 'ginger': 23.5, 'horse gram': 27.0, 'jowar': 28.5, 'millets': 27.5, 'maize': 21.0, 'massor': 20.0, 'moong': 22.0, 'onion': 15.0, 'turmeric ': 25.0, 'urad ': 30.0, 'wheat': 19.0, 'pulses': 22.5}
[8, 9, 4, -1, -1, 8, 0, 3, 3, 11, 11, -3, 9, 6, -1, 5, 2, 0, 1, 8, 9, 7, 14, 4, -1, 10, 6]
[-3, -1, -1, -1, -1, 0, 0, 1, 2, 3, 3, 4, 4, 5, 6, 6, 7, 8, 8, 8, 9, 9, 9, 10, 11, 11, 14]
[-1, -1, 0, 0, 1, 2, 3, 3, 4, 4, 5, 6, 6, 7, 8, 8, 8, 9, 9, 9, 10, 11, 11, 14]
[-1, -1, 0]

In [123]:
print(type(compare_dic))
print(compare_dic)
for i in compare_dic:
    compare_dic[i] = abs(int(single_y) - compare_dic[i])
print("######")

    
a = compare_dic
print(a)

<class 'dict'>
{'rice': 21.0, 'chillies': 20.0, 'peanuts': 25.0, 'bajra ': 30.0, 'banana': 30.0, 'beans': 21.0, 'lladys finger': 28.5, 'bottle guard': 25.5, 'brinnjal': 26.0, 'cabbage': 17.5, 'castor seed': 18.0, 'citrus fruit': 32.5, 'corriader': 20.0, 'cotton': 22.5, 'cowpea': 30.5, 'ginger': 23.5, 'horse gram': 27.0, 'jowar': 28.5, 'millets': 27.5, 'maize': 21.0, 'massor': 20.0, 'moong': 22.0, 'onion': 15.0, 'turmeric ': 25.0, 'urad ': 30.0, 'wheat': 19.0, 'pulses': 22.5}
######
{'rice': 8.0, 'chillies': 9.0, 'peanuts': 4.0, 'bajra ': 1.0, 'banana': 1.0, 'beans': 8.0, 'lladys finger': 0.5, 'bottle guard': 3.5, 'brinnjal': 3.0, 'cabbage': 11.5, 'castor seed': 11.0, 'citrus fruit': 3.5, 'corriader': 9.0, 'cotton': 6.5, 'cowpea': 1.5, 'ginger': 5.5, 'horse gram': 2.0, 'jowar': 0.5, 'millets': 1.5, 'maize': 8.0, 'massor': 9.0, 'moong': 7.0, 'onion': 14.0, 'turmeric ': 4.0, 'urad ': 1.0, 'wheat': 10.0, 'pulses': 6.5}

In [124]:
print(type(a))
k=len(a)
import operator

sorted_x = sorted(a.items(), key=operator.itemgetter(1))
for i in sorted_x:
    if i[1]<0:
        sorted_x.remove(i)
print(sorted_x)

<class 'dict'>
[('lladys finger', 0.5), ('jowar', 0.5), ('bajra ', 1.0), ('banana', 1.0), ('urad ', 1.0), ('cowpea', 1.5), ('millets', 1.5), ('horse gram', 2.0), ('brinnjal', 3.0), ('bottle guard', 3.5), ('citrus fruit', 3.5), ('peanuts', 4.0), ('turmeric ', 4.0), ('ginger', 5.5), ('cotton', 6.5), ('pulses', 6.5), ('moong', 7.0), ('rice', 8.0), ('beans', 8.0), ('maize', 8.0), ('chillies', 9.0), ('corriader', 9.0), ('massor', 9.0), ('wheat', 10.0), ('castor seed', 11.0), ('cabbage', 11.5), ('onion', 14.0)]

In [125]:
sorted_x[:3]

[('lladys finger', 0.5), ('jowar', 0.5), ('bajra ', 1.0)]

In [134]:
year = 2019
hel = []
for i in range(year, year+5):
    print(i)
    hel.append(int(i))
arr = np.array(hel)
print(arr)
arr.reshape(-1,1)

2019
2020
2021
2022
2023
[2019 2020 2021 2022 2023]

array([[2019],
       [2020],
       [2021],
       [2022],
       [2023]])

In [31]:
reg.fit(train_N,train_K)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [32]:
y = reg.predict([2020])

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

In [33]:
y

array([[-9047.35919071]])