In [33]:
import pandas as pd

In [68]:
df = pd.read_csv("data.csv")
dfc = pd.read_csv("comparetemp.csv")

In [35]:
df.describe()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
count,102.000000,102.000000,102.000000,102.000000,102.000000,102.00000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000
mean,1951.500000,22.860873,25.247294,28.431755,31.416333,33.46498,30.851578,27.811588,27.272275,27.357951,26.579382,23.847775,22.034971
std,29.588849,0.983112,0.913545,0.929693,0.887118,1.12455,1.179059,0.686891,0.549314,0.568013,0.589523,1.045997,1.031999
min,1901.000000,20.505000,23.269000,25.996000,29.329000,30.01500,27.930000,26.306000,25.706000,26.388000,25.282000,21.495000,20.126000
25%,1926.250000,22.190250,24.617000,27.758000,30.875750,32.74150,30.034000,27.275000,26.955000,26.908500,26.233500,23.057000,21.122000
50%,1951.500000,22.893500,25.188500,28.383500,31.538000,33.56300,30.782000,27.723000,27.280000,27.294000,26.545500,23.812500,22.024000
75%,1976.750000,23.477750,25.896000,29.212750,31.959000,34.30000,31.624750,28.252250,27.666000,27.797250,26.959000,24.601750,22.814000
max,2002.000000,25.079000,27.282000,30.214000,33.719000,35.86900,33.462000,29.407000,28.670000,29.192000,28.052000,26.546000,25.023000

In [36]:
df.dtypes

Year      int64
Jan     float64
Feb     float64
Mar     float64
Apr     float64
May     float64
Jun     float64
Jul     float64
Aug     float64
Sep     float64
Oct     float64
Nov     float64
Dec     float64
dtype: object

In [37]:
df.corr()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Year,1.000000,0.262008,0.560594,0.568160,0.427131,0.272463,0.131531,0.369898,0.311082,0.521795,0.402764,0.444744,0.397697
Jan,0.262008,1.000000,0.469459,0.428346,0.338052,0.328517,-0.057352,0.202098,0.100687,0.244737,0.093067,0.082004,0.141856
Feb,0.560594,0.469459,1.000000,0.620403,0.508059,0.303459,0.109507,0.282019,0.120689,0.321044,0.196087,0.224516,0.222828
Mar,0.568160,0.428346,0.620403,1.000000,0.593818,0.374894,0.140170,0.370417,0.218851,0.338255,0.208123,0.193348,0.190259
Apr,0.427131,0.338052,0.508059,0.593818,1.000000,0.310771,0.092019,0.303694,0.228286,0.267443,0.102548,0.012647,0.036043
May,0.272463,0.328517,0.303459,0.374894,0.310771,1.000000,0.285279,0.147095,0.141154,0.068633,0.077928,-0.155618,0.066466
Jun,0.131531,-0.057352,0.109507,0.140170,0.092019,0.285279,1.000000,0.264500,0.330778,0.103434,0.102273,0.070023,0.122240
Jul,0.369898,0.202098,0.282019,0.370417,0.303694,0.147095,0.264500,1.000000,0.453219,0.514555,0.393051,0.301077,0.187450
Aug,0.311082,0.100687,0.120689,0.218851,0.228286,0.141154,0.330778,0.453219,1.000000,0.283071,0.118875,0.083639,0.246133
Sep,0.521795,0.244737,0.321044,0.338255,0.267443,0.068633,0.103434,0.514555,0.283071,1.000000,0.539946,0.488726,0.501121
Oct,0.402764,0.093067,0.196087,0.208123,0.102548,0.077928,0.102273,0.393051,0.118875,0.539946,1.000000,0.620154,0.356971
Nov,0.444744,0.082004,0.224516,0.193348,0.012647,-0.155618,0.070023,0.301077,0.083639,0.488726,0.620154,1.000000,0.508335
Dec,0.397697,0.141856,0.222828,0.190259,0.036043,0.066466,0.122240,0.187450,0.246133,0.501121,0.356971,0.508335,1.000000

In [38]:
from sklearn.linear_model import LinearRegression

In [39]:
df.isnull().sum()
data_r = df.fillna(method='ffill')
data_r
k = list(data_r.columns)
X = data_r[k]

In [40]:
X = df['Year']
Y = df['Mar']
# pd.Dataframe(Y,Z,k).mean()
train_X = X[:102].reshape(-1,1)
train_Y = Y[:102].reshape(-1,1)
test_X = X[-14:].reshape(-1,1)
test_Y = Y[-14:].reshape(-1,1)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  after removing the cwd from sys.path.
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  """
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:6: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:7: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  import sys

In [41]:
reg = LinearRegression()

In [229]:
df = pd.read_csv('data-cp.csv')
autm = df[df.Season== 'Kharif']
py = pd.DataFrame(autm.Crop_Year)
reg.fit(train_X,train_Y)
import numpy as np
test_Y_pred = reg.predict(test_X)
train_Y_pred = reg.predict(train_X)
score_X=reg.score(train_X,train_Y)
new_pred = np.array([[2018],[2019],[2020],[2021],[2022],[2023],[2024],[2024],[2024],[2025],[2026],[2027],[2028],[2029],[2030]])
train_Y_pred = reg.predict(py)
single_x = np.array([3012])
single_y = reg.predict(single_x)
print(py)
print(train_Y_pred)
print(score_X)

        Crop_Year
0          2000.0
1          2000.0
2          2000.0
10         2001.0
11         2001.0
12         2001.0
18         2002.0
27         2003.0
36         2004.0
45         2005.0
79         2000.0
80         2000.0
81         2000.0
90         2001.0
91         2001.0
92         2001.0
98         2006.0
129        2002.0
139        2003.0
149        2004.0
159        2005.0
172        2006.0
203        1997.0
204        1997.0
205        1997.0
206        1997.0
207        1997.0
208        1997.0
209        1997.0
210        1997.0
...           ...
245970     2011.0
245971     2011.0
245972     2011.0
245996     2012.0
245997     2012.0
245998     2012.0
245999     2012.0
246000     2012.0
246001     2012.0
246002     2012.0
246026     2013.0
246027     2013.0
246028     2013.0
246029     2013.0
246030     2013.0
246031     2013.0
246032     2013.0
246033     2013.0
246034     2013.0
246035     2013.0
246063     2014.0
246064     2014.0
246065     2014.0
246066     2014.0
246067     2014.0
246068     2014.0
246069     2014.0
246070     2014.0
246071     2014.0
246072     2014.0

[95951 rows x 1 columns]
[[29.29756784]
 [29.29756784]
 [29.29756784]
 ...
 [29.54749322]
 [29.54749322]
 [29.54749322]]
0.3228061935509957

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

In [230]:
train_Y_pred = pd.DataFrame(train_Y_pred)
print(type(train_Y_pred))
frames = autm,train_Y_pred
new_df = pd.concat(frames)
rabi_temp = new_df.to_csv('kharif-temp.csv')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/indexes/api.py:71: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  result = result.union(other)

<class 'pandas.core.frame.DataFrame'>

In [231]:
print(test_X)

[[1989]
 [1990]
 [1991]
 [1992]
 [1993]
 [1994]
 [1995]
 [1996]
 [1997]
 [1998]
 [1999]
 [2000]
 [2001]
 [2002]]

In [232]:
print(test_Y_pred)

[[29.10119789]
 [29.11904971]
 [29.13690152]
 [29.15475333]
 [29.17260515]
 [29.19045696]
 [29.20830877]
 [29.22616059]
 [29.2440124 ]
 [29.26186421]
 [29.27971602]
 [29.29756784]
 [29.31541965]
 [29.33327146]]

In [233]:
print(score_X)

0.3228061935509957

In [234]:
print(single_y)

[[47.3636027]]

In [235]:
int(single_y)

47

In [236]:
dfc

             crop  temperature     rainfall
0            rice         21.0  100- 150 cm
1        chillies         20.0    40-100cm
2         peanuts         25.0     50-75 cm
3          bajra          30.0     25-60 cm
4          banana         30.0        65-75
5           beans         21.0        35-50
6   lladys finger         28.5       50-100
7    bottle guard         25.5          any
8        brinnjal         26.0       60-100
9         cabbage         17.5       59-113
10    castor seed         18.0        50-60
11   citrus fruit         32.5      125-185
12      corriader         20.0          NaN
13         cotton         22.5    60-110 cm
14         cowpea         30.5           78
15         ginger         23.5      125-250
16     horse gram         27.0        50-70
17          jowar         28.5        40-50
18        millets         27.5     25-75 cm
19          maize         21.0    65-125 cm
20         massor         20.0        30-50
21          moong         22.0       85-100
22          onion         15.0       75-100
23      turmeric          25.0   150-250 cm
24          urad          30.0        60-75
25          wheat         19.0     25-75 cm
26         pulses         22.5     40-45 cm

In [237]:
vihar = []
dict_n = {}
list2 = []
for i,j in zip(dfc['crop'],dfc['temperature']):
    list2.append(i)
    list2.append(j)
print(list2)

compare_dic = dict(zip(dfc['crop'],dfc['temperature']))

print(compare_dic)


for i in  dfc['temperature']:
    diff = int(single_y) - i
    vihar.append(int(diff))

print(vihar)
type(vihar)
vihar.sort()
print(vihar)

for i in vihar:
    if i<0:
        vihar.remove(i)
print(vihar)
print(vihar[0:3])

['rice', 21.0, 'chillies', 20.0, 'peanuts', 25.0, 'bajra ', 30.0, 'banana', 30.0, 'beans', 21.0, 'lladys finger', 28.5, 'bottle guard', 25.5, 'brinnjal', 26.0, 'cabbage', 17.5, 'castor seed', 18.0, 'citrus fruit', 32.5, 'corriader', 20.0, 'cotton', 22.5, 'cowpea', 30.5, 'ginger', 23.5, 'horse gram', 27.0, 'jowar', 28.5, 'millets', 27.5, 'maize', 21.0, 'massor', 20.0, 'moong', 22.0, 'onion', 15.0, 'turmeric ', 25.0, 'urad ', 30.0, 'wheat', 19.0, 'pulses', 22.5]
{'rice': 21.0, 'chillies': 20.0, 'peanuts': 25.0, 'bajra ': 30.0, 'banana': 30.0, 'beans': 21.0, 'lladys finger': 28.5, 'bottle guard': 25.5, 'brinnjal': 26.0, 'cabbage': 17.5, 'castor seed': 18.0, 'citrus fruit': 32.5, 'corriader': 20.0, 'cotton': 22.5, 'cowpea': 30.5, 'ginger': 23.5, 'horse gram': 27.0, 'jowar': 28.5, 'millets': 27.5, 'maize': 21.0, 'massor': 20.0, 'moong': 22.0, 'onion': 15.0, 'turmeric ': 25.0, 'urad ': 30.0, 'wheat': 19.0, 'pulses': 22.5}
[26, 27, 22, 17, 17, 26, 18, 21, 21, 29, 29, 14, 27, 24, 16, 23, 20, 18, 19, 26, 27, 25, 32, 22, 17, 28, 24]
[14, 16, 17, 17, 17, 18, 18, 19, 20, 21, 21, 22, 22, 23, 24, 24, 25, 26, 26, 26, 27, 27, 27, 28, 29, 29, 32]
[14, 16, 17, 17, 17, 18, 18, 19, 20, 21, 21, 22, 22, 23, 24, 24, 25, 26, 26, 26, 27, 27, 27, 28, 29, 29, 32]
[14, 16, 17]

In [238]:
print(type(compare_dic))
print(compare_dic)
for i in compare_dic:
    compare_dic[i] = int(single_y) - compare_dic[i]

print("#######")
a = compare_dic
print(a)

<class 'dict'>
{'rice': 21.0, 'chillies': 20.0, 'peanuts': 25.0, 'bajra ': 30.0, 'banana': 30.0, 'beans': 21.0, 'lladys finger': 28.5, 'bottle guard': 25.5, 'brinnjal': 26.0, 'cabbage': 17.5, 'castor seed': 18.0, 'citrus fruit': 32.5, 'corriader': 20.0, 'cotton': 22.5, 'cowpea': 30.5, 'ginger': 23.5, 'horse gram': 27.0, 'jowar': 28.5, 'millets': 27.5, 'maize': 21.0, 'massor': 20.0, 'moong': 22.0, 'onion': 15.0, 'turmeric ': 25.0, 'urad ': 30.0, 'wheat': 19.0, 'pulses': 22.5}
#######
{'rice': 26.0, 'chillies': 27.0, 'peanuts': 22.0, 'bajra ': 17.0, 'banana': 17.0, 'beans': 26.0, 'lladys finger': 18.5, 'bottle guard': 21.5, 'brinnjal': 21.0, 'cabbage': 29.5, 'castor seed': 29.0, 'citrus fruit': 14.5, 'corriader': 27.0, 'cotton': 24.5, 'cowpea': 16.5, 'ginger': 23.5, 'horse gram': 20.0, 'jowar': 18.5, 'millets': 19.5, 'maize': 26.0, 'massor': 27.0, 'moong': 25.0, 'onion': 32.0, 'turmeric ': 22.0, 'urad ': 17.0, 'wheat': 28.0, 'pulses': 24.5}

In [239]:
print(type(a))
k=len(a)
import operator

sorted_x = sorted(a.items(), key=operator.itemgetter(1))

<class 'dict'>

In [240]:
sorted_x

[('citrus fruit', 14.5),
 ('cowpea', 16.5),
 ('bajra ', 17.0),
 ('banana', 17.0),
 ('urad ', 17.0),
 ('lladys finger', 18.5),
 ('jowar', 18.5),
 ('millets', 19.5),
 ('horse gram', 20.0),
 ('brinnjal', 21.0),
 ('bottle guard', 21.5),
 ('peanuts', 22.0),
 ('turmeric ', 22.0),
 ('ginger', 23.5),
 ('cotton', 24.5),
 ('pulses', 24.5),
 ('moong', 25.0),
 ('rice', 26.0),
 ('beans', 26.0),
 ('maize', 26.0),
 ('chillies', 27.0),
 ('corriader', 27.0),
 ('massor', 27.0),
 ('wheat', 28.0),
 ('castor seed', 29.0),
 ('cabbage', 29.5),
 ('onion', 32.0)]

In [241]:
count=0
for a in sorted_x:
    if count>2:
        break
    else:
        print(a)
        count+=1

('citrus fruit', 14.5)
('cowpea', 16.5)
('bajra ', 17.0)